extends layout

block content
  h1 Citrix Systems, Inc.
  hr
  .row
    .col-sm-12
      h2
        i.fa.fa-map-marker
        |ADDRESS
      .col-sm-6
        p.lead 7638 Hollister Ave, Apt 367
        p
      .col-sm-6
        p.lead 7638 Hollister Ave, Apt 367
        p
      .col-sm-6
        p.lead 7638 Hollister Ave, Apt 367
        p
      .col-sm-6
        p.lead 7638 Hollister Ave, Apt 367
        p
    .col-sm-12
      h2
        i.fa.fa-users
        |COMPANY SIZE
      .col-sm-12
        p.lead > 2000
        p
    .col-sm-12
      h2
        i.fa.fa-money
        |ANNUAL REVENUE
      .col-sm-12
        p.lead 5.5B
        p
    .col-sm-12
      h2
        i.fa.fa-industry
        |INDUSTRY
      .col-sm-12
        p.lead IT
        p
    .col-sm-12
      h2
        i.fa.fa-phone
        |CONTACT
      .col-sm-6
        p.lead 408-790-8000
      .col-sm-6
        p.lead 408-790-8000
      .col-sm-6
        p.lead 408-790-8000
      .col-sm-6  
        p.lead 408-790-8000
    .col-sm-12
      h2
        i.fa.fa-file-text-o
        |COMPANY SUMMARY
      .col-sm-12
        p.lead #{summary} 
        p
