extends layout

block content
  .page-header
    h3 List Details

    div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Company
            th Comp Size
            th In Salesforce?
            th Usage
        tbody
          tr
            td
              a(href='/company?website=visualcreative.net') visualcreative
            td 1 - 10
            td N
            td Link
          tr
            td
              a(href='/company?website=wccarpenter.com') wccarpenter
            td NA
            td 
              a(href='https://na32.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&sen=001&sen=00Q&sen=068&sen=a01&sen=003&sen=a4H&sen=500&sen=a3i&sen=a0V&sen=006&sen=a4y&sen=a05&str=wccarpenter') Y
            td Link
  div.footer
