extends layout

block content
  .page-header
    h3 List Details

    div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Company
            th Comp Size
            th In Salesforce?
            th Usage
        tbody
          tr
            td
              a(href='/company?website=indeed.com') indeed
            td > 1000
            td N
            td 
              a(href='https://april-zhang-citrix.shinyapps.io/Shiny_hack_week_2016/?indeed') Link
          tr
            td
              a(href='/company?website=harbingergroup.com') harbingergroup
            td NA
            td 
              a(href='') Y
            td 
              a(href='https://april-zhang-citrix.shinyapps.io/Shiny_hack_week_2016/?harbingergroup') Link
  div.footer
