extends layout

block content
  .page-header
    h3 List Details

    div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Company
            th Already Sign Up?
        tbody
          tr
            td
              a(href='/') Citrix
            td Y
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') Citrix
            td Y
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') Citrix
            td Y
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') Citrix
            td Y
          tr
            td
              a(href='/') AppFolio
            td N
          tr
            td
              a(href='/') AppFolio
            td N

  div.footer
